@font-face {
  font-family: "myriad-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../static/myriad-regular.woff");
}

@font-face {
  font-family: "myriad-light";
  font-style: normal;
  font-weight: normal;
  src: url("../static/myriad-light.woff");
}

@font-face {
  font-family: "myriad-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../static/myriad-bold.woff");
}

body {
  font-family: "myriad-regular";
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "myriad-bold";
}

/* Header */

.header {
  background-color: #050b28;
}
.header img {
  height: 100px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 768px) {
  .header img {
    height: 140px;
  }
}
.search-field {
  max-width: 800px;
  margin: 2rem auto 0;
}

/* Event Header */

.event-header {
  border: none;
  border-radius: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://www.jcnet.com.br/_midias/jpg/2019/07/29/foto_16-1446623.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}
.event-header img {
  height: 40px;
}
.event-header .container {
  padding: 25px;
}
.search-field-header {
  max-width: 300px;
  margin: 0;
}
.event-header button {
  color: #050b28;
  font-size: 20px;
}
.event-header button i {
  margin-left: 3px;
}
.event-header p a:link,
.event-header p a:visited {
  color: white;
}
.event-header p a:hover,
.event-header p a:active {
  color: lightblue;
}

/* Gallery */

.gallery .row {
  margin: 20px 0;
}
.gallery .row a {
  padding: 10px 10px;
}
.gallery .row a h3 {
  margin: 1rem 0 0;
}
.gallery .row a p {
  margin: 0.5rem 0 0;
}
.gallery .row a:link,
.gallery .row a:visited,
.gallery .row a:hover,
.gallery .row a:active {
  text-decoration: none;
}
.gallery .row a:link,
.gallery .row a:visited {
  color: #050b28;
}
.gallery .row a:hover,
.gallery .row a:active {
  color: #3b4783;
}
@media (min-width: 768px) {
  .gallery .row a {
    padding: 0 10px;
  }
}

/* Footer */

footer {
  color: white;
  background-color: #050b28;
}
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  text-decoration: none;
}
footer a:link,
footer a:visited {
  color: white;
}
footer a:hover,
footer a:active {
  color: #3b4783;
}
footer i {
  font-size: 36px;
}
.calendar {
  font-size: 16px;
}
footer img {
  display: block;
}
footer h5 {
  font-family: "myriad-bold";
}
.pop-bauru {
  height: 70px;
}
.jornal-da-cidade {
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
hr {
  height: 1px;
  background-color: #3b4783;
  border: none;
}
